{% extends "layout.html" %} {% block title %}fsufitch - About Me{%
endblock %} {% set nav_select="me" %} {% block head %} {{super()}}
<script type='text/javascript' src="//wurfl.io/wurfl.js"></script>
{% endblock %} {% block content %}
<h1>About Me</h1>

<div class="row">
	<div class="col-md-6">
		<h2>Fluff</h2>
		<p>
			Hi. I'm a 20-something nerd looking to code interesting stuff and
			maybe make the world a better place. I am currently working for a
			small place called <a href="http://scientiamobile.com">ScientiaMobile</a>
			as a Software Engineer, where I'm making cool stuff happen with
			mobile device detection on the web.
		</p>
	</div>
	<div class="col-md-6">
		<h2>Contact Info</h2>
		<p><button id="aboutme-contact-btn" class="btn btn-success">Push button, get info</button></p>
		<ul id="aboutme-contact"></ul>
	</div>
</div>

<script type="text/javascript">

function aboutme_add_contact_info(k, v) {
	var new_el = $("<li>");
	new_el.append($("<strong>", {text: k+":"}));
	new_el.append($("<span>", {text: " "+v}));
	$("#aboutme-contact").append(new_el);
}

$(document).ready(function() {
	$("#aboutme-contact-btn").click(function() {
		var parent_p = $(this).parent();
		$(this).remove();
		parent_p.text("Loading...");
		$.post("/contact", {"this is a real contact info request": "yup"},
				function(data) {
			parent_p.remove();
			aboutme_add_contact_info("Name", data['name']);
			aboutme_add_contact_info("E-mail", data['email']);
			aboutme_add_contact_info("Google+ Profile", data['g+']);
			aboutme_add_contact_info("Phone", data['phone']);
		}, 'json')
		//aboutme_add_contact_info("foo", "bar");
		//aboutme_add_contact_info("bar", "ZZZ");
	})
})
</script>

{% endblock %}
