{% extends "layout.html" %} {% block title %}fsufitch - About Me{%
endblock %} {% set nav_select="me" %} {% block head %} {{super()}}
<script type='text/javascript' src="//wurfl.io/wurfl.js"></script>
{% endblock %} {% block content %}
<h1>About Me</h1>

<div class="row">
	<div class="col-md-6">
		<h2>Fluff</h2>
		<p>
			Hi. I'm a 20-something nerd looking to code interesting stuff and
			maybe make the world a better place. I am currently working for
			<a href="http://imagemattersllc.com">Image Matters LLC</a>
			as a Software Engineer, subcontracting for <a href="https://home.geointservices.io">GeoInt Services</a>.
		</p>
	</div>
	<div class="col-md-6">
		<h2>Contact Info</h2>
		<p>
			<button id="aboutme-contact-btn" class="btn btn-success">Push
				button, get info</button>
		</p>
		<ul id="aboutme-contact"></ul>
	</div>
</div>

<hr />
{% set techs=[
('Python', '/s/images/techs/python.png', 'http://python.org'),
('HTML5', '/s/images/techs/html5.png', 'http://www.w3.org/html5'),
('Linux', '/s/images/techs/tux.png', ''),
('PHP', '/s/images/techs/php.png', 'http://php.net'), ] %}

<div class="row">
	{% for tech_name,tech_img,tech_url in techs %}
	<div class="col-sm-3">
	    {% if tech_url %}
		<a href="{{tech_url}}" target="_blank">
		{% endif %}
		<img class="img-responsive" src="{{tech_img}}" title="{{tech_name}}"/>
	    {% if tech_url %}
	    </a>
		{% endif %}
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
	function aboutme_add_contact_info(k, v) {
		var new_el = $("<li>");
		new_el.append($("<strong>", {
			text : k + ":"
		}));
		new_el.append($("<span>", {
			text : " " + v
		}));
		$("#aboutme-contact").append(new_el);
	}

	$(document).ready(function() {
		$("#aboutme-contact-btn").click(function() {
			var parent_p = $(this).parent();
			$(this).remove();
			parent_p.text("Loading...");
			$.post("/contact", {
				"this is a real contact info request" : "yup"
			}, function(data) {
				parent_p.remove();
				$("#aboutme-contact").hide();
				aboutme_add_contact_info("Name", data['name']);
				aboutme_add_contact_info("E-mail", data['email']);
				aboutme_add_contact_info("Google+ Profile", data['g+']);
				aboutme_add_contact_info("Phone", data['phone']);
				$("#aboutme-contact").slideDown();
			}, 'json')
		})
	})
</script>

{% endblock %}
