{% extends "layout.html" %}

{% block title %}fsufitch - Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>You did it! You found my small corner of the internet!</p>
  <p>This is version 2.0 of this whole weird website thing, and is still a work in progress. Got suggestions? Let me know!</p>
  <p><small>(Especially if you have suggestions for a more exciting landing page, so I don't have to resort to a <blink>&lt;blink&gt; tag</blink>)</small></p>
</div>
{% endblock %}