{% extends "layout.html" %} {% block title %}fsufitch - Dice Roller{%
endblock %} {% set nav_select="demo" %} {% block content %}
<h1>
	XdY Dice Roller {% if session %} <small>Session ID: <a href="">{{session.uid}}</a></small>
	{% endif %}

</h1>
{% if not session %}
<p>
	Need dice for D&D and stuff? Or did you mean the <a href="#">offline-capable
		dice roller</a>? {% endif %}
</p>

<h2>Rolls:</h2>

{% set index=0 %} {% for diceroll in session.rolls %} {% set
index=index+1 %}
<div class="panel panel-default" id="roll_{{index}}">
	<div class="panel-heading">
		<strong><a href="#roll_{{index}}">{% if diceroll.comment
				%}{{diceroll.comment}}{% else %}Roll #{{index}}{% endif %}</a></strong>
		<code>{{diceroll.rolldef_dirty}}</code>
	</div>
	<div class="panel-body">
		{% set roll_total, roll_min, roll_max, roll_details = diceroll.roll %}
		{% set min_width = "%.1f" % ((roll_min/roll_max)*100) %}
		{% set total_width = "%.1f" % ((roll_total/roll_max-roll_min/roll_max)*100) %}
		{% set max_width = "%.2f" % (100-float(min_width)-float(total_width)) %}
		<div class="row">
			<div class="col-sm-2">
				<h3>Total: {{roll_total}}</h3>
			</div>
			<div class="col-sm-10">
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped active"
						style="width: {{min_width}}%">
						<strong>Min:</strong> {{roll_min}}
					</div>
					<div class="progress-bar progress-bar-success" style="width: {{total_width}}%">
						<strong>Roll:</strong> {{roll_total}}
					</div>
					<div class="progress-bar progress-bar-info" style="width: {{max_width}}%">
						<strong>Max:</strong> {{roll_max}}
					</div>
				</div>
				<div class="row">
				<div class="col-xs-6">
				<strong>Precentile:</strong> {{ "%.2f" %
				((roll_total-roll_min)/(roll_max-roll_min) * 100) }}%
				</div>
				<div class="col-xs-6">
				<strong>Average:</strong> {{ "%d" %
				((roll_max+roll_min)/2) }}
				</div>
				</div>
			</div>
		</div>
		<hr />
		{% for roll_entry in roll_details %}
		<div class="row">
			<div class="col-sm-1">
				<h4>{{roll_entry['roll_exp']}}</h4>
			</div>
			<div class="col-sm-1">
				<h4>{{roll_entry['value']}}</h4>
			</div>
			<div class="col-sm-10">
				{% if roll_entry['rolls'] %} = <strong>{{roll_entry['rolls'][0]}}</strong>
				{% for die_value in roll_entry['rolls'][1:] %} + <strong>{{die_value}}</strong>
				{% endfor %} {% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}

<div class="well">
	<h2>New dice roll {% if session %} session {% endif %}</h2>
	<form role="form" method="post">
		<input type="hidden" name="new-session" value="true" />
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="dice-input">Dice Roll</label> <input type="text"
						class="form-control" id="dice-input" name="dice-input"
						placeholder="1d8 + 3d6 - 2d4 + 3 - 5" />
					<p class="help-block">Input rolls in d20 format (e.g.
						1d8+3d6-2d4+3-5).</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="comment">Comment</label> <input type="text"
						class="form-control" id="comment" name="comment"
						placeholder="Renard's Hide check" />
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}
